# **Data Cleaning & Preparation**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/muhtarmuhtar/Documents/vscode-projects/Cost-and-Affordability-of-a-Healthy-Diet-Analysis/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [10]:
import os
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [6]:
current_dir = os.getcwd()
current_dir

'/Users/muhtarmuhtar/Documents/vscode-projects'

# Setup/Extraction

The setup or extraction section outlines the initial procedures for preparing the notebook for primary analysis, including configuring the environment, importing required libraries, and loading raw data from a CSV file.

#### 1. Environment Configuration

In [60]:

# Import necessary libraries for the project
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans

# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.options.display.float_format = "{:.3f}".format
sns.set_theme(style='whitegrid')

#### 2. Dataset Loading

In [27]:
# Load the raw dataset from a CSV file
data_path = '/Users/muhtarmuhtar/Documents/vscode-projects/Cost-and-Affordability-of-a-Healthy-Diet-Analysis/data/raw/Cost_Affordability_Healthy_Diet.csv' 
df_raw = pd.read_csv(data_path) 
print(f'Shape: {df_raw.shape}')  # Display the shape of the dataset
df_raw.head() # Display the first few rows of the dataset

Shape: (3579, 26)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Release Code,Release,Unit,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F,Y2021,Y2021F,Y2022,Y2022F,Y2023,Y2023F,Y2024,Y2024F
0,2,'004,Afghanistan,7005,"Prevalence of unaffordability (PUA), percent",6121,Value,12U2024,December 2024 (Update),%,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,NaN,NaN,NaN
1,2,'004,Afghanistan,7006,Number of people unable to afford a healthy di...,6132,Value,12U2024,December 2024 (Update),million No,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,NaN,NaN,NaN
2,3,'008,Albania,70041,"Cost of a healthy diet (CoHD), LCU per person ...",6205,Value,7S2025,July 2025 (SOFI report),LCU/cap/d,160.41,E,164.71,E,169.51,E,175.63,E,182.48,E,203.92,E,223.17,E,230.79,E
3,3,'008,Albania,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",6226,Value,7S2025,July 2025 (SOFI report),Int$ (PPP) per person per day,3.04,E,3.13,E,3.32,E,3.4,E,3.49,E,4.14,E,4.58,E,4.77,E
4,3,'008,Albania,70071,"Cost of starchy staples, LCU per person per day",6205,Value,7S2025,July 2025 (SOFI report),LCU/cap/d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.81,E,NaN,NaN,NaN,NaN,NaN,NaN

---

# Transformations & Cleaning

The transformation section involves cleaning, structuring, and enriching the raw data obtained during the setup or extraction phase to prepare it for subsequent analysis, modeling, or visualization.

#### 1. Dataset Overview

In [ ]:
# Info about the dataset
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code        3579 non-null   int64
 1   Area Code (M49)  3579 non-null   object
 2   Area             3579 non-null   object
 3   Item Code        3579 non-null   int64
 4   Item             3579 non-null   object
 5   Element Code     3579 non-null   int64
 6   Element          3579 non-null   object
 7   Release Code     3579 non-null   object
 8   Release          3579 non-null   object
 9   Unit             3579 non-null   object
 10  Y2017            1131 non-null   object
 11  Y2017F           1281 non-null   object
 12  Y2018            1112 non-null   object
 13  Y2018F           1281 non-null   object
 14  Y2019            1112 non-null   object
 15  Y2019F           1281 non-null   object
 16  Y2020            1112 non-null   object
 17  Y2020F           1281 non-null   object
 18  Y2021            3312 non-null   object
 19  Y2021F           3579 non-null   object
 20  Y2022            1112 non-null   object
 21  Y2022F           1281 non-null   object
 22  Y2023            744 non-null    object
 23  Y2023F           799 non-null    object
 24  Y2024            740 non-null    object
 25  Y2024F           799 non-null    object
dtypes: int64(3), object(23)
memory usage: 727.1+ KB

In [ ]:
# Statistical summary of the dataset (transposed for better readability)
df_raw.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Area Code,3579.0,NaN,NaN,NaN,660.650182,1638.847682,1.0,70.0,138.0,215.0,9011.0
Area Code (M49),3579,247,'496,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,3579,247,Mongolia,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item Code,3579.0,NaN,NaN,NaN,54259.791562,27352.172959,7005.0,7006.0,70080.0,70101.0,70121.0
Item,3579,16,"Prevalence of unaffordability (PUA), percent",449,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Element Code,3579.0,NaN,NaN,NaN,6193.846885,40.11499,6121.0,6132.0,6205.0,6226.0,6226.0
Element,3579,1,Value,3579,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Release Code,3579,2,7S2025,3097,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Release,3579,2,July 2025 (SOFI report),3097,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unit,3579,4,Int$ (PPP) per person per day,1456,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2017,1131,647,0.1,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2017F,1281,2,E,1131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2018,1112,670,0.1,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2018F,1281,3,E,1112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2019,1112,655,<0.1,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2019F,1281,3,E,1112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2020,1112,686,0.1,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2020F,1281,3,E,1112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2021,3312,1334,0.2,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2021F,3579,3,E,3312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2022,1112,677,<0.1,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2022F,1281,3,E,1112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2023,744,546,0.1,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2023F,799,3,E,744,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2024,740,525,<0.1,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2024F,799,3,E,740,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# Missing values in each column in descending order
df_raw.isnull().sum().sort_values(ascending=False)

Y2024              2839
Y2023              2835
Y2024F             2780
Y2023F             2780
Y2018              2467
Y2022              2467
Y2020              2467
Y2019              2467
Y2017              2448
Y2022F             2298
Y2020F             2298
Y2019F             2298
Y2018F             2298
Y2017F             2298
Y2021               267
Area Code (M49)       0
Unit                  0
Release               0
Release Code          0
Y2021F                0
Element               0
Element Code          0
Item                  0
Item Code             0
Area                  0
Area Code             0
dtype: int64

In [ ]:
# The number of unique values in each column
df_raw.nunique()

Area Code           247
Area Code (M49)     247
Area                247
Item Code            16
Item                 16
Element Code          4
Element               1
Release Code          2
Release               2
Unit                  4
Y2017               647
Y2017F                2
Y2018               670
Y2018F                3
Y2019               655
Y2019F                3
Y2020               686
Y2020F                3
Y2021              1334
Y2021F                3
Y2022               677
Y2022F                3
Y2023               546
Y2023F                3
Y2024               525
Y2024F                3
dtype: int64

#### 2. Enhancing Data Consistency: Column Naming and Missing Values

In [78]:
# Create a copy of the raw dataset for cleaning and transformations
df = df_raw.copy()

In [79]:
# Standardise column names for consistency and ease of use
df.columns = (
    df.columns
      .str.strip() # Remove leading/trailing whitespace
      .str.lower() # Convert to lowercase
      .str.replace(" ", "_") # Replace spaces with underscores
      .str.replace("-", "_") # Replace hyphens with underscores
)
print(f'Column names: {df.columns}')
df.head()

Column names: Index(['area_code', 'area_code_(m49)', 'area', 'item_code', 'item',
       'element_code', 'element', 'release_code', 'release', 'unit', 'y2017',
       'y2017f', 'y2018', 'y2018f', 'y2019', 'y2019f', 'y2020', 'y2020f',
       'y2021', 'y2021f', 'y2022', 'y2022f', 'y2023', 'y2023f', 'y2024',
       'y2024f'],
      dtype='object')

,area_code,area_code_(m49),area,item_code,item,element_code,element,release_code,release,unit,y2017,y2017f,y2018,y2018f,y2019,y2019f,y2020,y2020f,y2021,y2021f,y2022,y2022f,y2023,y2023f,y2024,y2024f
0,2,'004,Afghanistan,7005,"Prevalence of unaffordability (PUA), percent",6121,Value,12U2024,December 2024 (Update),%,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,NaN,NaN,NaN
1,2,'004,Afghanistan,7006,Number of people unable to afford a healthy di...,6132,Value,12U2024,December 2024 (Update),million No,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,NaN,NaN,NaN
2,3,'008,Albania,70041,"Cost of a healthy diet (CoHD), LCU per person ...",6205,Value,7S2025,July 2025 (SOFI report),LCU/cap/d,160.41,E,164.71,E,169.51,E,175.63,E,182.48,E,203.92,E,223.17,E,230.79,E
3,3,'008,Albania,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",6226,Value,7S2025,July 2025 (SOFI report),Int$ (PPP) per person per day,3.04,E,3.13,E,3.32,E,3.4,E,3.49,E,4.14,E,4.58,E,4.77,E
4,3,'008,Albania,70071,"Cost of starchy staples, LCU per person per day",6205,Value,7S2025,July 2025 (SOFI report),LCU/cap/d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.81,E,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# Percentage of missing values in each column
percentage_missing = (df.isnull()
                    .mean()
                    .sort_values(ascending=False)
                    .mul(100)
                    .to_frame(name="Missing %"))

percentage_missing

                 Missing %
y2024               79.324
y2023               79.212
y2024f              77.675
y2023f              77.675
y2018               68.930
y2022               68.930
y2020               68.930
y2019               68.930
y2017               68.399
y2022f              64.208
y2020f              64.208
y2019f              64.208
y2018f              64.208
y2017f              64.208
y2021                7.460
area_code_(m49)      0.000
unit                 0.000
release              0.000
release_code         0.000
y2021f               0.000
element              0.000
element_code         0.000
item                 0.000
item_code            0.000
area                 0.000
area_code            0.000

In [83]:
# Identify year columns in the dataset
year_cols = [c for c in df.columns if c.startswith("y20") and not c.endswith("f")]
print(f'Year columns: {year_cols}')

Year columns: ['y2017', 'y2018', 'y2019', 'y2020', 'y2021', 'y2022', 'y2023', 'y2024']

In [73]:
df.head()

,area_code,area_code_(m49),area,item_code,item,element_code,element,release_code,release,unit,y2017,y2017f,y2018,y2018f,y2019,y2019f,y2020,y2020f,y2021,y2021f,y2022,y2022f,y2023,y2023f,y2024,y2024f
0,2,'004,Afghanistan,7005,"Prevalence of unaffordability (PUA), percent",6121,Value,12U2024,December 2024 (Update),%,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,NaN,NaN,NaN
1,2,'004,Afghanistan,7006,Number of people unable to afford a healthy di...,6132,Value,12U2024,December 2024 (Update),million No,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,O,NaN,NaN,NaN,NaN
2,3,'008,Albania,70041,"Cost of a healthy diet (CoHD), LCU per person ...",6205,Value,7S2025,July 2025 (SOFI report),LCU/cap/d,160.41,E,164.71,E,169.51,E,175.63,E,182.48,E,203.92,E,223.17,E,230.79,E
3,3,'008,Albania,70040,"Cost of a healthy diet (CoHD), PPP dollar per ...",6226,Value,7S2025,July 2025 (SOFI report),Int$ (PPP) per person per day,3.04,E,3.13,E,3.32,E,3.4,E,3.49,E,4.14,E,4.58,E,4.77,E
4,3,'008,Albania,70071,"Cost of starchy staples, LCU per person per day",6205,Value,7S2025,July 2025 (SOFI report),LCU/cap/d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.81,E,NaN,NaN,NaN,NaN,NaN,NaN

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [4]:
# import os
# try:
#   # create your folder here
#   # os.makedirs(name='')
# except Exception as e:
#   print(e)